/* Day Mode */
body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Night Mode */
  body.night-mode {
    background-color: #2b2b2b;
    color: #ffffff;
  }
  
  /* Navigation */
  .nav-bar {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000; /* small(bot) -> big(top) */
  }
  
  .nav-bar button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50; /* nav button color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-bar button:hover {
    background-color: #45a049; /* nav button hover color */
  }
  
  button#toggleTheme {
    background-color: #3b97bc; /* toggle-button color */
    color: white;
  }
  
  button#toggleTheme:hover {
    background-color: #337ab7; /* toggle-button hover color*/
  }
  
  /* Dot Styling */
  .dot {
    stroke: #000;
    stroke-width: 0.5;
    cursor: pointer;
  }
  
  .dot-human {
    fill: #ff4c4c; /* human color */
  }
  
  .dot-computer {
    fill: #4c8dff; /* computer color */
  }
  
  .dot-related {
    fill: #4caf50; /* asteroid color */
  }
  
  /* Dot Styling for Night Mode */
  body.night-mode .dot-human {
    fill: #ff6666; /* human night mode */
  }
  
  body.night-mode .dot-computer {
    fill: #6699ff; /* computer night mode */
  }
  
  body.night-mode .dot-related {
    fill: #80ff80; /* asteroid night mode */
  }
  
  /* Definition Tooltip */
  .tooltip {
    position: absolute;
    display: none;
    background: #3b97bc;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    pointer-events: none;
    transform: translate(-50%, -150%);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  body.night-mode .tooltip {
    background: #444;
    color: #fff;
  }
  
  /* Spiral SVG */
  svg {
    width: 80vw;
    height: 80vh;
    display: block;
    transition: filter 0.3s ease;
  }
  
  body.night-mode svg {
    filter: brightness(0.8);
  }
  
  /* Adaption */
  @media (max-width: 768px) {
    .nav-bar {
      flex-direction: row;
      top: auto;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  
    svg {
      width: 95vw;
      height: 70vh;
    }
  }