body {
    background-image: url("../static/rainbowComputergif.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center 27%;
  }
  a {
      font-size: 36px;
      text-decoration: none;
  }
  .black-bar {
      background-color: black; /* The black color for the bar */
      width: 200px; /* Width of the black bar */
      height: 100vh; /* Full height of the viewport */
      color: white; /* White text color for readability */
      position: fixed; /* Fixes the bar on the left side */
      top: 0;
      left: 0;
      padding: 20px; /* Adds padding inside the bar for spacing */
      box-sizing: border-box;
  }

  /* Button style */
.button-link {
    display: inline-block;
    background-color: #4CAF50; /* button color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px; /* button font size */
    transition: background-color 0.3s ease; /* hover delay */
}

/* button hover */
.button-link:hover {
    background-color: #45a049; /* hover color */
}